
:root{
--hdlinet: 20px; 
--blkvid: 240px;
}

.blkvids{
	font-family: "Lato", sans-serif;	
	position: absolute;
    width: var(--blkvid);
    padding: 10px;
    background-color: #e6ffe6;
    font-size: 12pt;
	top: 25px;
}

.hdlvids{
	font-family: "Lato", sans-serif;
	font-size: 18px;
	color: white;
	position: absolute;
	background-color: #006600;
	width: var(--blkvid);
	padding-bottom: 6px;
	padding-left: 5px;
	height: 25px;
}

.blkopg{
	font-family: "Lato", sans-serif;	
	position: absolute;
	width: var(--blkvid);
    padding: 10px;
    background-color: #f0f0f5;
    font-size: 12pt;
	top: 25px;
	left: 250px;
}

.hdlopg{
	font-family: "Lato", sans-serif;
	position: absolute;
	background-color: #e0e0eb;
	width: var(--blkvid);
	padding-bottom: 6px;
	padding-left: 5px;
	height: 25px;
	left: 250px;
}

.atch {
    display: block;
    color: blue;
    margin-left: 0;
    list-style: none;
}      

.atch a{
 text-decoration: none;
}

.opg {
    display: block;
    color: blue;
    text-decoration: none;
    margin-bottom: 20px;
}      

.opg a{
  background-color: #6666ff;
  border: none;
  color: white;
  padding: 8px 24px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  width: 280px;
  margin-bottom:8px;
}
.opg a:hover {
    color: black;
    background-color: #ccf5ff;
}

.amnts{
	width: 25px;
	color: red;
}


